<div class="flex flex-col w-full justify-center lg:items-start overflow-y-hidden">
  <h1 class="my-4 text-3xl md:text-5xl text-purple-800 font-bold leading-tight text-center md:text-left">
    Get better at World of Warcraft!
  </h1>
  <p class="leading-normal text-base md:text-2xl mb-8 text-center md:text-left">
    Tools to help you improve your gameplay.
  </p>

  <p class="text-blue-400 font-bold pb-8 lg:pb-6 text-center md:text-left fade-in">
    <%= link_to "Join Us", new_registration_path, class: "inline-block text-blue-300 no-underline hover:text-indigo-800 hover:text-underline text-center h-10 md:h-auto" %>
  </p>
</div>
